@charset "UTF-8";

.f-section-1 {
	padding-top: 20px;
	background-color: rgb(242, 243, 249);
	height: auto;
	padding-bottom: 20px;
}


.f-title{
	margin-top: 12px;
/* 	border: solid; */
	background-color: white;
	padding-bottom: 10px;
    padding-top: 10px;
}


.f-section-1  .post-blog .post-blog-image img{
min-height: 10px !important;
}


/* @media (min-width: 1200px){ */
/* 	.f-section-1 .container { */
/* 	    width: 970px; */
/* 	} */
/* } */

@media (min-width: 1200px){
	.f-section-1 .container {
	    width: 1040px;
/* 	    border: solid red; */
	}
}