@charset "UTF-8";


/*심리이론 및 사이트 전체적인 section 설정*/
.f-section-1 {
	padding-top: 20px;
	background-color: rgb(242, 243, 249);
	height: auto;
	padding-bottom: 20px;
}


/* section 안 container 설정 */

/* @media (min-width: 1200px){ */
/* 	.f-section-1 .container { */
/* 	    width: 970px; */
/* 	} */
/* } */

@media (min-width: 1200px){
	.f-section-1 .container {
	    width: 1040px;
	}
}


/* 컨테이너 내 전체 div  col-md-9 css 조정 */
.f-section-1 .container .col-md-9 {
	 padding-left: 0px;
/* 	 border: solid pink; */
}



/* 768px일때컨테이너 내 전체 div  col-md-9 css 조정 */
@media(max-width: 768px){
	.f-section-1 .container .col-md-9 {
		 padding-left: 15px;
}
}





