@charset "UTF-8";





/* 심리이론 게시물 타이틀 div START*/

.thd-title{
	margin-top: 12px;
/* 	border: solid; */
	background-color: white;
	padding-bottom: 10px;
    padding-top: 10px;
}


/* 심리이론 게시물 타이틀 대제목 col-md padding 조정 */
.thd-title .row .col-md-6{
	padding-left: 4%; 
	margin-bottom: 2%;
}

/*심리이론 명언 text 글자 크기 조정*/
.thd-title .row .col-md-10 .sub-text{
	font-size: 14px;
}
.thd-title .row .col-md-10 .sub-text-small{
	
	font-size: 10px
}


/* 심리이론 게시물 타이틀 div END*/


/* detail div */
.thd-div{
    margin-top: 15px;
    padding: 6px;
    background-color: white;
}

/* detail-div-inline */
.thd-div-inline{
	padding-top: 11px;
    padding-bottom: 85px;
    border: solid rgb(234, 234, 234);
}


/* row에 주어진 -값 없애는 조정*/
.thd-div-inline .row {
	margin-left: 0px; 
    margin-right: 0px;
}


/* 등록일 작성 col-md-9, col-md-3 에 패딩 줌 */
@media (min-width: 992px){
	.thd-div-inline .row .col-md-9 {
	   padding-left: 5px !important;
	}
}
@media (min-width: 992px){
	.thd-div-inline .row .col-md-3 {
	    text-align: right;
	    padding-right: 5px;
	    padding-left: 52px;
	}
}
   
/* icon 크기 조정 */
.thd-div-inline .icon {
    font-size: 13px;
    padding-top: 7px;
    padding-right: 0px
}

/* 아이콘 색 조정 */
.thd-div-inline .icon-primary {
    color: #981df0;
}

/* 닉네임, 등록일, 택스 담고 있는 text padding 조정 */
/* .thd-div-inline p{ */
/* 	padding-right: 20px; */
/* } */

/* hr태그 margin 없애기*/
.thd-div-inline hr{
    margin-top: 12px;
}


/* 닉네임 들어있는 table의 td padding 조정 */
.thd-div-inline .td-nick {
	padding-left: 7px;
	padding-top: 11px;
}


/* post-blog-article : article 전체 윤곽 */
.thd-div-inline .post-blog-article{
	text-align: center;
	padding-top: 75px;
}


/* articel header 글자  조정 */
.thd-div-inline .post-blog-article .post-blog-article-title{
    letter-spacing: 0.1em;
    font-size: 33px;
}

/* article 내용 padding 조정 */
.thd-div-inline .post-blog-article .post-blog-article-body{
	padding: 25px;
	padding-top: 53px;
/* 	border: solid; */
}


/* 이미지 패딩 없애기 */
@media (min-width: 992px){
	.post-blog-article .post-blog-article-body img {
	    margin-top: 24px;
	}
}



/** ## 버튼들  css START */ 

.thd-div-buttons{
	border: solid blue;
	padding-top: 30px;
	padding-bottom: 30px;
	height: auto;
}
/* 각종 표현 버튼 중앙에 위치 */
.thd-div-buttons .center {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 60%;
  height: 100px;
  top: 25%;
}
/* 각종 표현 버튼 각각 위치 및 크기 조정 */
.thd-div-buttons .smile {
  position: relative;
  width: 16.5%;
  height: 100%;
  text-align: center;
  float: left;
  cursor: pointer;
}
/* 각종 표현 버튼 중 이미지 부분 */
.thd-div-buttons .smile>img{
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}
/* 각종 표현 버튼 중 글자 부분 */
.thd-div-buttons .smile>label>span{
	font-size: 12px;
	color: #83838691;
}
.thd-div-buttons .smile>label {
	line-height: 18px;
}




/** 버튼들 css END */





/** ## 같이보면 좋을 list css START */
.thd-div-recommend-list {
/* 	border: solid green; */
	padding: 25px 30px 25px 30px;
	height: auto;
}

/* 리스트 타이틀 글자 ('~님이 추천하는') css */
.thd-div-recommend-list p:nth-child(1){
	font-size: 15px;
}

/* 리스트 타이틀 글자 ('읽으면') css */
.thd-div-recommend-list span:nth-child(1){
	color: red;
	font-weight: bold;
}

/* 리스트 타이틀 글자 ('도움되는 글') css */
.thd-div-recommend-list span:nth-child(2){
	font-weight: bold;
}

/* 리스트 li 간격 조정 */
.thd-div-recommend-list .list-marked > li + li {
    margin-top: 3px;
}

/* 리스트  > 아이콘 위치 조정  */
.thd-div-recommend-list .list-marked > li:before {
    top: 0.2em;
}

/* 리스티 li>a 글자크기 조정*/
.thd-div-recommend-list .list-marked-secondary a {
/*     color: #ed1c94; */
    color: #27272e;
    font-size: 14px;
}

/* 리스트 padding-left 조정 */
.thd-div-recommend-list .list-marked{
	padding-left: 0px;
}




/** 같이보면 좋을 list css END */


/** ##조회수, 좋아요, 북마크, 쪽지, 공유링크, 수정요청 등 버튼 css START */ 
.thd-div-etc-buttons {
/* 	border: solid green; */
	height: auto;
	margin-top: 65px;
    margin-bottom: 9px;
}

.thd-div-etc-buttons .col-md-7{
    padding-left: 40px;
}

/* 버튼들 radius, padding 조정 */
.thd-div-etc-buttons .btn {
	padding: 5px 10px;
	border-radius: 6px;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    transition: .22s;
}

/* heart(좋아요 버튼) */
.thd-div-etc-buttons .btn-heart:hover, .btn-heart:focus, .btn-heart:active, .btn-heart.active, .open > .btn-heart.dropdown-toggle {
    color: black;
	background-color: #ff56b3;
	border-color: #ff56b3;
    }

/* star(즐겨찾기 버튼) */
.thd-div-etc-buttons .btn-star:hover, .btn-star:focus, .btn-star:active, .btn-star.active, .open > .btn-star.dropdown-toggle {
    color: black;
	background-color: #e5da00;
	border-color: #e5da00;
    }
    
/* share (공유 버튼) */
.thd-div-etc-buttons .btn-share:hover, .btn-share:focus, .btn-share:active, .btn-share.active, .open > .btn-share.dropdown-toggle {
    color: black;
	background-color: #57ca00;
	border-color: #57ca00;
    }    
    
/* list(목록 버튼) */
.thd-div-etc-buttons .btn-list:hover, .btn-list:focus, .btn-list:active, .btn-list.active, .open > .btn-list.dropdown-toggle {
    color: black;
	background-color: #00c8ca;
	border-color: #00c8ca;
    } 

/* btn-correction(수정건의 버튼) */
.thd-div-etc-buttons .btn-correction:hover, .btn-correction:focus, .btn-correction:active, .btn-correction.active, .open > .btn-correction.dropdown-toggle {
    color: black;
	background-color: #ca005e;
	border-color: #ca005e;
    }     
    
    
    
/** 조회수, 좋아요, 북마크, 쪽지, 공유링크, 수정요청 등 버튼 css END*/


/* ## 댓글 css START */

.thd-div-comment {
/* 	border: solid pink;  */
	border-top: 2px dashed rgba(131, 131, 134, 0.1);
	padding: 25px;
/* 	margin-top: 230px; */
}


/* 댓글 압룍 검싸고 있는 form css*/
.thd-div-comment .rd-mailform {
    margin-top: 13px;
    margin-bottom: 38px;
}


/* 댓글 list css*/
.thd-div-comment .comment-group {
	border-radius: 9px;
    padding: 20px;
/*     text-align: left; */
/*     font-size: 15px; */
/*     color: #29293a; */
    background: #f2f3f9;
    border: 2px dashed rgba(131, 131, 134, 0.1);
    margin-top: 13px;
    margin-bottom: 25px;
}

/* 닉네임 입력칸 css 조정 */
.thd-div-comment .form-input.txtName{
    display: block;
    width: 100%;
    min-height: 28px;
    padding: 18px 25px;
    font-weight: 300;
    line-height: 13px;
    font-size: 13.5px;
    color: #29293a;
    background-color: #f2f3f9;
    background-image: none;	
    border: 0px solid #f2f3f9;
    border-radius: 15px;
    -webkit-appearance: none;
    height: 25px;
}


/* 댓글 비밀여부 css */
@media (min-width: 992px){
.thd-div-comment .checkbox-inline .checkbox-custom-dummy{
	width: 20px;
    height: 20px;
	}
}

/* 댓글 비밀여부 마진, 패딩 주기  */
@media (min-width: 992px){
	.thd-div-comment .checkbox, .thd-div-comment .checkbox-inline {
	    padding-left: 27px;
	    margin-top: 7px;
	    padding-right: 143px;
	}
}

@media (max-width: 492px){
.thd-div-comment .checkbox, .thd-div-comment .checkbox-inline {
    padding-left: 38px;
    margin-right: 123px;
}
}




/* 이미지 아이콘 그림에 마진 주기 */
.thd-div-comment .form-wrap img:nth-child(1){
    margin-right: 25px;

}

.thd-div-comment .form-wrap .tooltip-custom + .tooltip .tooltip-inner {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	max-width: 253px;
	padding: 5px 12px;
	font-size: 10px;
	font-weight: 300;
	border-radius: 0;
	letter-spacing: .02em;
	background: rgb(0, 200, 202);
}


.thd-div-comment .form-wrap .tooltip-custom + .tooltip.bottm .tooltip-arrow {
	margin-left: -7px;
	border-width: 0 7px 7px;
	border-bottom-color: rgb(0, 200, 202);
}

.thd-div-comment .reply-cate>span:nth-child(1){
	color: red;
}

.thd-div-comment .reply-cate>span:nth-child(3), .thd-div-comment .reply-cate>span:nth-child(5){
	font-size: 14px;
}


/* 댓글 list 아이콘(ˇ) */
.thd-div-comment .reply-cate .glyphicon {
    font-size: 10px;
    top: 0px;
    color: #2e2e2e;
}


/* 댓글 입력칸 css  */
.thd-div-comment .form-input.txtComment {
	display: block;
    width: 100%;
    min-height: 32px;
    padding: 18px 25px;
    font-weight: 300;
    line-height: 23px;
    font-size: 13.5px;
    color: #29293a;
    background-color: #f2f3f9;
    background-image: none;
    border: 0px solid #f2f3f9;
    border-radius: 15px 0px 0px 15px;
    -webkit-appearance: none;
   
}

/* text 입력칸 height 조정*/
.thd-div-comment  textarea.form-input {
    height: 126px;
    min-height: 89px;
    max-height: 255px;
    resize: vertical;
    border-radius: 15px 0px 0px 15px;
}


/* 댓글 입력 text area maring 조정*/
@media (min-width: 480px){
.thd-div-comment .cell-sm-10{
	    -webkit-flex-basis: 100%;
	    -ms-flex-preferred-size: 100%;
	     flex-basis: 100%;
	     margin-top: 8px;
	     padding-right: 0px;
	}
}
@media (min-width: 480px){
.thd-div-comment .cell-sm-2 {
	    -webkit-flex-basis: 100%;
	    -ms-flex-preferred-size: 100%;
	     flex-basis: 100%;
	     margin-top: 8px;
	     padding-left: 0px;
	}
}



/* 댓글 입력 버튼 (종상) */
/* @media (min-width: 992px){ */
	.thd-div-comment .button {
	min-width: 100%;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 52px;
    padding-bottom: 52px;
    border-radius: 0px 15px 15px 0px;
	}
/* } */



/* 대댓글 숨김 처리 (종상) */
.thd-div-comment .thd-none {
	display: none;
}
/* 대댓글 입력창 바탕색 (종상) */
.thd-div-comment .thd-txt-bg-color .range {
	background-color: white;
	padding-bottom: 20px;
}
.thd-div-comment .comment-group .rd-mailform {
	margin-top: 30px;
}





/* 댓글 css END */ 








