@charset "UTF-8";


/* ## 심리이론 게시물 타이틀 div */
.th-title{
	margin-top: 12px;
/* 	border: solid; */
	background-color: white;
	padding-bottom: 10px;
    padding-top: 10px;
}


/* 심리이론 게시물 타이틀 대제목 col-md padding 조정 */
.th-title .row .col-md-6{
	padding-left: 4%; 
	margin-bottom: 2%;
}

/*심리이론 명언 text 글자 크기 조정*/
.th-title .row .col-md-10 .sub-text{
	font-size: 14px;
}
.th-title .row .col-md-10 .sub-text-small{
	
	font-size: 10px
}


/* 심리이론 게시물 타이틀 div END*/





/* 블록 형식의 list div */
.th-list {
    /* padding-top: 25px; */
    margin-top: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    /* border: solid red; */
}


/* 게시물 상단 : 카테고리별 top3 시리즈 보여주는 div */
.th-list-top3 {
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 9px;
    background: #f2f3f9;
    border: 2px dashed rgba(131, 131, 134, 0.1);
    margin-left: 5px;
}

/* top3 내부 슬라이더 container css */
.th-list-top3 .swiper-container {
/*     height: auto; */
    min-height: 24vw;
}
@media(min-width:992px){
	.th-list-top3 .swiper-container {
	    padding-left: 50px;
	}    
}

/* 슬라이더 내부 width 조정  */
.th-list-top3 .swiper-slide-caption{
	width: 638px;
}


/* 슬라이더 내부 왼쪽 버튼 css */
.th-list-top3 .swiper-button-prev{
	left: 12px;
}

/*슬라이더 내부 오른쪽 버튼 css */
.th-list-top3 .swiper-button-next {
    right: 10px;
}


/* 슬라이더 내부 왼쪽,오른쪽 버튼 통합 css */
.th-list-top3 .swiper-button-prev, .th-list-top3 .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    line-height: 26px;
    font-size: 17px;
    border-radius: 50%;
    text-align: center;
    margin-top: -20px;
    z-index: 10;
    cursor: pointer;
    background: #ed1c94;
    color: #fff;
    transition: .33s;
}

/* 슬라이더 하단 페이지 동그라미 버튼 위치 조정 */
.th-list-top3 .swiper-pagination-wrap {
    bottom: 0px;
}

/* 슬라이더 하단 페이지 동그라미 버튼 색상 변경 */
.th-list-top3 .swiper-pagination-bullet {
/*     display: inline-block; */
/*     width: 14px; */
/*     height: 14px; */
/*     border-radius: 100%; */
    background: rgba(35, 233, 216, 0.49);
/*     box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5); */
/*     transition: .33s; */
}

/* 슬라이더 하단 페이지 동그라미 버튼 active시 색상 변경 */
.th-list-top3 .swiper-pagination-bullet-active {
    background: #ffec17;
}

/* h3글자와 슬라이더 사이 간격 조정 */
@media (min-width: 768px){
	h3 + .swiper-slider {
	    margin-top: 0px;
	}
}

/* istope css */
.th-list-block .isotope .isotope-item{
	padding-right:6px;
}


/* istope 구별버튼 li 간격 조정 */
@media (min-width: 992px){
	.th-list-block .isotope-filters-horizontal:not(.isotope-filter-collapse-lg) 
	.isotope-filters-list.isotope-filters-list-buttons > * {
           margin-left: 1px;
           margin-top: 0px;
	}
}
/* istope 버튼그룹 위치 조정 */
@media (min-width: 992px){
	.th-list-block .isotope-filters-horizontal:not(.isotope-filter-collapse-lg) 
	.isotope-filters-list.isotope-filters-list-buttons{
		  margin-left: 460px;
	}
}



/* istope 버튼 radius 및 크기(padding)조정  */
@media (min-width: 992px){
	.th-list-block .isotope-filters-horizontal:not(.isotope-filter-collapse-lg) 
	.isotope-filters-list.isotope-filters-list-buttons a {
		 border-radius: 8px;
		 padding: 5px 19px;
	}
}

/* istope 버튼 active시 색 조정  */
@media (min-width: 992px){
	.th-list-block .isotope-filters-horizontal:not(.isotope-filter-collapse-lg) 
	.isotope-filters-list.isotope-filters-list-buttons a.active {
		color: #fff;
	    background: rgb(0, 200, 202);
	    border-color: rgb(0, 200, 202);
	}

}


/* istope 버튼 마우스 hover시 색 조정  */
@media (min-width: 992px){
	.th-list-block .isotope-filters-list.isotope-filters-list-buttons a:hover {
		color: #fff;
	    background: rgb(0, 200, 202);
	    border-color: rgb(0, 200, 202);
	}

}



/*istope 안에 들어갔기 때문에 생긴 img animation 죽이기*/
.th-list-block .gallery-item img {
    position: inherit;
    left: 0%;
    transform: none;
}


/*list article border에 색 넣어주기*/
.th-list-block .post-blog {
    border: solid #80808024;
}

/* 리스트 article >img 크기 조정 */
.th-list-block .post-blog .post-blog-image {
   min-height: 0px;
}
.f-section-1  .post-blog .post-blog-image img{
/* min-height: 10px !important; */
/* 	width: 100%; */
    width: 211px;
/*     height: 115px; */
	height: 130px;
    object-fit: initial;
}


/* article tag 좌우 padding 수정*/
@media (min-width: 992px){
	.th-list-block .post-blog-caption-header {
		padding-left: 9px;
	    padding-right:11px;
	    border-top: dotted #80808026;
	}
}
.th-list-block .post-blog-caption-header .button-tags{
	font: 300 12px/1 "Lato", Helvetica, Arial, sans-serif;
	padding: 4px 8px;
	letter-spacing: .02em;
}




/* article header에 게시글 no. 글자크기 수정 */
.th-list-block .post-blog-caption-header .post-comment{
	font-size: 11px;
}	

/* article title 좌우 padding 수정*/
@media (min-width: 992px){
	.th-list-block .post-blog-caption-body{
		padding-left: 14px;
	    padding-right: 14px;
	    text-align: left;
	}
}

/* article title 위 아래 padding 수정*/
.th-list-block  .post-blog-caption-body {
    padding-top: 6px;
    padding-bottom: 12px;
}




/* article footer font-size 수정*/
@media (min-width: 992px){
	.th-list-block .post-blog-caption-footer{
		font-size: 10px;
		padding-left: 14px;
	    padding-right: 14px;
	    padding-top: 5px;
    	padding-bottom: 5px;
    	border-top: 1px solid #f2f3f9;
	}
}


/* article footer icon size 수정 */
.th-list-block .glyphicon-heart {
    font-size: 12px;
    color: red;
}







/************ 묻고답하기 게시판 List CSS START **********************/


/* 묻고답하기 게시판 게시물 타이틀 div */
.thq-title{
	margin-top: 12px;
/* 	border: solid; */
	background-color: white;
	padding-bottom: 10px;
    padding-top: 10px;
}



/*istope버튼 css*/
.isotope-filters-list.isotope-filters-list-buttons{
	margin-left: 300px;
}




/* istope버튼과 table 사이 간격 조정*/
.thq-list .table  tbody {
    margin-top: 20px;
}

/* istope 적용 후 생기는 button 선 없애는 css */
.thq-list .table > tbody > tr > td {
	padding: 0px;
}

/*테이블 리스트 간 간격 조정 :col-md-12, col-md-10 */
.thq-list .table  tbody  tr  td .col-md-12{
   margin-top: 6px;
      margin-bottom: 15px;
}
.thq-list .table  tbody  tr  td .col-md-10{
   margin-top: 10px;
}

/*리스트 안에 row margin조정 및 리스트 사이 점선부여 */
.thq-list .table  tbody  tr  td .isotope-item{
   border-bottom: 0.5px dashed #80808052;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 4px;
   margin-bottom: 2px; 
}




/* 묻고답하기 게시판 게시물 타이틀 대제목 col-md padding 조정 */
.thq-title .row .col-md-6{
	padding-left: 4%; 
	margin-bottom: 2%;
}

/* 묻고답하기 게시판 명언 text 글자 크기 조정*/
.thq-title .row .col-md-10 .sub-text{
	font-size: 14px;
}

.thq-title .row .col-md-10 .sub-text-small{
	
	font-size: 10px;
}


/* 묻고답하기 게시판 list div */
.thq-list, .thq-xs-list{
    /* padding-top: 25px; */
    margin-top: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    /* border: solid red; */
}
/* 묻고답하기 게시판 list padding-bottom 부분 조정 */
.thq-list {
	padding-bottom: 0;
}
/* 큰 화면일때 모바일 화면 기준 묻고답하기 게시판 목록 숨김 처리 */
.thq-xs-list {
	display: none;
}
/* ## 모바일 화면 기준 묻고답하기 게시판 css START */
@media(max-width: 768px){
	/* 큰 화면 기준 묻고답하기 게시판 목록 숨김 처리 */
	.thq-list {
	    display: none;
	}
	/* 모바일 화면 기준 묻고답하기 게시판 목록 보임 처리 */
	.thq-xs-list {
		display: block;
		padding-bottom: 15px;
	}
	/* 묻고답하기 게시판 목록 중 댓글 개수 버튼 위치 조정 */
	.thq-xs-list .col-xs-2 {
		margin-top: 3%;
	}
	/* 묻고답하기 게시판 목록 중 댓글 개수 버튼 크기 조정 */
	.thq-xs-list .thq-xs-count-btn {
		padding: 1px 6px 2px 7px;
	}
	/* 모바일 화면 글쓰기 버튼 위치 및 크기지정 */
	.thq-xs-list .thq-xs-write {
		float: right;
		padding: auto 15px;
	}
}
/* 모바일 화면 기준 묻고답하기 게시판 css END */









/*istope버튼 css*/
.isotope-filters-list.isotope-filters-list-buttons{
	margin-left: 300px;
}
/* 카테고리(isotope) 버튼 크기 및 radius 설정 */
.th-list .isotope-filters-horizontal:not(.isotope-filter-collapse-lg) 
	.isotope-filters-list.isotope-filters-list-buttons a {
		 border-radius: 8px;
		 padding: 5px 19px;
}
/* 카테고리(isotope) 버튼 크기 및 radius 설정 */
.th-list .isotope-filters-horizontal:not(.isotope-filter-collapse-lg) 
	.isotope-filters-list.isotope-filters-list-buttons a.active {
		color: #fff;
	    background: rgb(0, 200, 202);
	    border-color: rgb(0, 200, 202);
}
/* list 카테고리 버튼(isotope) 오른쪽 정렬 */
.th-list .isotope-filters-horizontal {
	float: right;
}
/* list 카테고리 버튼(isotope) height 영역 설정 */
.th-list .cell-xs-12.cell-sm-12.cell-md-12.cell-lg-12 {
	height: 42px;
}


/* 묻고답하기 리스트 테두리 선 */
.th-list .table-list .table > tbody > tr > td{
/* 	padding: 8px; */
/*     line-height: 1.42857; */
/*     vertical-align: top; */
    border-bottom: 1px dashed #ddd;
    border-top: 0;
}

.th-list .row {
	margin-bottom: 0;
}
.th-list [data-isotope-layout] .row > [class*="col-"] {
	margin-top: 0;
}






/*리스트 내 checkBox 들어가는 공간(col-md-1) 패딩 및 width 조정*/
.td-row .col-md-1:first-child {
    padding-left: 0px;
    padding-right: 0px;
    width: 4.5%;	
}

.td-row .col-md-10{
	padding-left: 0px;
/* 	width: 95.5%; */
}

/* 리스트 상단 제목에 css 주기*/
.td-row .col-md-10 span{
	font-size: 14.5px;
	color: black;
}

/* 리스트 중간 내용에 css 주기*/
.td-row .col-md-10 p {
	margin: 0;
	font-size: 12px;
	margin-top: 1%;
	
}

.td-row .col-md-10 .glyphicon{
	font-size: 11px;
    float: right;
    line-height: 24px;
    color: #0000004f;
}



/*td 안 row에 패딩주기 */
.td-row2{
/* 	padding: 0px 22px 5px 22px; */
}
.td-row2 .col-md-1:first-child {
    padding-left: 0px;
    padding-right: 0px;
    width: 4.5%;	
}

/* 리스트 하단 부가정보에 css 주기*/
.td-row2 .col-md-11 {
	font-size: 11px;
	margin-top: 1%;
	padding-left: 0px;
	width: 95.5%;
}

/* # 묻고답하기 list START */
/* article div (value5) 마진 조정  */

/**/
.glyphicon-map-marker{
	font-size: 9px;
}


.th-list .td-row .myInfoReviewList-col-md-10{
	padding-left: 0px;
    width: 84.5%;
    padding-right: 4px;
}

@media (min-width: 992px){
.th-list .td-row .myInfoReviewList-Img{
	    padding-right: 0px;
    	padding-left: 0px;
	}
}
/* 묻고답하기list  list END */




