@charset "UTF-8";





/* 심리이론 게시물 타이틀 div START*/

.ct-title{
	margin-top: 12px;
/* 	border: solid; */
	background-color: white;
	padding-bottom: 10px;
    padding-top: 10px;
}


/* 심리이론 게시물 타이틀 대제목 col-md padding 조정 */
.ct-title .row .col-md-6{
	padding-left: 4%; 
	margin-bottom: 2%;
}

/*심리이론 명언 text 글자 크기 조정*/
.ct-title .row .col-md-10 .sub-text{
	font-size: 14px;
}
.ct-title .row .col-md-10 .sub-text-small{
	
	font-size: 10px
}


/* 심리이론 게시물 타이틀 div END*/


/* detail div */
.ct-div{
    margin-top: 15px;
    padding: 6px;
    background-color: white;
}

/* detail-div-inline */
.ct-div-inline{
	padding-top: 11px;
/*     padding-bottom: 85px; */
    border: solid rgb(234, 234, 234);
}


/* row에 주어진 -값 없애는 조정*/
.ct-div-inline .row {
	margin-left: 0px; 
    margin-right: 0px;
}


/* 등록일 작성 col-md-9, col-md-3 에 패딩 줌 */
@media (min-width: 992px){
	.ct-div-inline .row .col-md-9 {
	   padding-left: 5px !important;
	}
}
@media (min-width: 992px){
	.ct-div-inline .row .col-md-3 {
	    text-align: right;
	    padding-right: 5px;
	    padding-left: 52px;
	}
}
   
/* 태그 icon 크기 조정 */
.ct-div-inline .icon {
    font-size: 13px;
    padding-top: 7px;
    padding-right: 0px
}

/* 태그 아이콘 색 조정 */
.ct-div-inline .icon-primary {
    color: #981df0;
}

/* 닉네임, 등록일, 택스 담고 있는 text padding 조정 */
/* .ct-div-inline p{ */
/* 	padding-right: 20px; */
/* } */

/* hr태그 margin 없애기*/
.ct-div-inline hr{
    margin-top: 12px;
}


/* 닉네임 들어있는 table의 td padding 조정 */
/* .ct-div-inline .td-nick { */
/* 	padding-left: 7px; */
/* 	padding-top: 11px; */
/* } */




/* 닉네임, 버튼들   패딩조정 */
/* .ct-div-inline .name-and-buttons{ */
/* 	padding-left: 10px; */
/*     padding-right: 13px; */
/* } */

/* .ct-div-inline .writer-name { */
/* 	float: left; */
/* } */

/* .ct-div-inline .etc-btns { */
/* 	float: right; */
/* } */


/* 상담소개 : top 간략 설명 부분 css START */
/* 간략설명부분 전체 div */
.ct-div-inline .ct-simple-info-div{
	background-color: #ffc0cb87; 
	padding:22px;
	margin: 2px;
}
/* 메인 이미지 패딩줘서 크기 줄임 */
.ct-div-inline .ct-simple-info-div .unit-right.product-single-image{
	padding: 20px
}

/* 수상아이콘 크기 늘리기 */
.ct-div-inline .ct-simple-info-div .inline-list .text-center .icon{
	font-size: 20px;
}

/* 버튼에 주어져 있는 margin 없앰*/
.ct-div-inline .ct-simple-info-div .inline-list .text-middle{
	margin-top: 0px; 
	margin-left: 26px;
	margin-right: 0px;
}

/*  */
.ct-div-inline .ct-simple-info-div .inline-list .text-middle .button-sm{
	padding: 5px 10px; 
	border-radius: 6px; 
	min-width: 144px;
}





/* 상담소개 : top 간략 설명 부분 css END */




/* #본문 contents css STARAT */
/* post-blog-article : article 전체 윤곽 */
.ct-div-inline .post-blog-article{
	text-align: center;
/* 	padding-top: 75px; */
	padding-top: 70px;
}


/* articel header 글자  조정 */
.ct-div-inline .post-blog-article .post-blog-article-title{
    letter-spacing: 0.1em;
    font-size: 33px;
}

/* article 내용 padding 조정 */
.ct-div-inline .post-blog-article .post-blog-article-body{
	padding: 25px;
	padding-top: 53px;
/* 	border: solid; */
}


/* 이미지 패딩 없애기 */
@media (min-width: 992px){
	.post-blog-article .post-blog-article-body img {
	    margin-top: 24px;
	}
}



/** ## 버튼들  css START */ 

.ct-div-buttons{
/* 	border: solid blue; */
/* 	padding-top: 30px; */
	padding-top: 140px;
	padding-bottom: 30px;
	height: auto;
}
/* 각종 표현 버튼 중앙에 위치 */
.ct-div-buttons .center {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 60%;
  height: 100px;
  top: 25%;
}
/* 각종 표현 버튼 각각 위치 및 크기 조정 */
.ct-div-buttons .smile {
  position: relative;
  width: 16.5%;
  height: 100%;
  text-align: center;
  float: left;
  cursor: pointer;
}
/* 각종 표현 버튼 중 이미지 부분 */
.ct-div-buttons .smile>img{
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}
/* 각종 표현 버튼 중 글자 부분 */
.ct-div-buttons .smile>label>span{
	font-size: 12px;
	color: #83838691;
}
.ct-div-buttons .smile>label {
	line-height: 18px;
}




/** 버튼들 css END */





/** ## 같이보면 좋을 list css START */
.ct-div-recommend-list {
/* 	border: solid green; */
	padding: 105px 30px 25px 30px;
	height: auto;
}

/* 리스트 타이틀 글자 ('~님이 추천하는') css */
.ct-div-recommend-list p:nth-child(1){
	font-size: 15px;
}

/* 리스트 타이틀 글자 ('읽으면') css */
.ct-div-recommend-list span:nth-child(1){
	color: red;
	font-weight: bold;
}

/* 리스트 타이틀 글자 ('도움되는 글') css */
.ct-div-recommend-list span:nth-child(2){
	font-weight: bold;
}

/* 리스트 li 간격 조정 */
.ct-div-recommend-list .list-marked > li + li {
    margin-top: 3px;
}

/* 리스트  > 아이콘 위치 조정  */
.ct-div-recommend-list .list-marked > li:before {
    top: 0.2em;
}

/* 리스티 li>a 글자크기 조정*/
.ct-div-recommend-list .list-marked-secondary a {
/*     color: #ed1c94; */
    color: #27272e;
    font-size: 14px;
}

/* 리스트 padding-left 조정 */
.ct-div-recommend-list .list-marked{
	padding-left: 0px;
}




/** 같이보면 좋을 list css END */


/** ##조회수, 좋아요, 북마크, 쪽지, 공유링크, 수정요청 등 버튼 css START */ 
.ct-div-etc-buttons {
/* 	border: solid green; */
	height: 28px;
	margin-top: 65px;
    margin-bottom: 9px;
    padding-right: 10px;
}

.ct-div-etc-buttons .bottom-etc-buttons{
    float:right;
}

/* 버튼들 radius, padding 조정 */
.ct-div-etc-buttons .btn {
	padding: 5px 10px;
	border-radius: 6px;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    transition: .22s;
    background-color: #dddddd;
    color: #838386;
}

/* heart(좋아요 버튼) */
.ct-div-etc-buttons .btn-heart:hover, .ct-div-etc-buttons .btn-heart.btn-active {
    color: black;
	background-color: #ff56b3;
	border-color: #ff56b3;
    }

/* star(즐겨찾기 버튼) */
.ct-div-etc-buttons .btn-star:hover, .ct-div-etc-buttons .btn-star.btn-active {
    color: black;
	background-color: #e5da00;
	border-color: #e5da00;
    }
    
/* share (공유 버튼) */
.ct-div-etc-buttons .btn-share:hover, .ct-div-etc-buttons .btn-share.btn-active {
    color: black;
	background-color: #57ca00;
	border-color: #57ca00;
    }    
    
/* list(목록 버튼) */
.ct-div-etc-buttons .btn-list:hover {
    color: black;
	background-color: #00c8ca;
	border-color: #00c8ca;
    } 

/* btn-correction(수정건의 버튼) */
1.ct-div-etc-buttons .btn-correction:hover, .ct-div-etc-buttons .btn-correction.btn-active {
    color: black;
	background-color: #ca005e;
	border-color: #ca005e;
    }     
    
    
    
/* 수정건의 버튼 누를시 나오는 div */
.correction-send {
	border: solid red;
	padding-bottom: 20px;
	display: none;
}
/* 수정건의 관련 textarea css */
.correction-send .form-input.txtComment {
	display: block;
    width: 100%;
    min-height: 126px;
    max-height: 400px;
    font-size: 13.5px;
    color: #29293a;
    border: 0px solid #f2f3f9;
    border-radius: 15px;
    overflow: visible;
    resize: none;
}
/* 건의요청 버튼 위쪽 간격조정 */
.correction-send button {
	margin-top: 15px;
}
/* 건의요청 버튼 오른쪽으로 정렬 */
.correction-send button {
	float: right;
}


    
    
    
/** 조회수, 좋아요, 북마크, 쪽지, 공유링크, 수정요청 등 버튼 css END*/


/* ## 댓글 css START */

.ct-div-comment {
/* 	border: solid pink;  */
	border-top: 2px dashed rgba(131, 131, 134, 0.1);
	padding: 25px;
/* 	margin-top: 230px; */
}


/* 댓글 압룍 검싸고 있는 form css*/
.ct-div-comment .rd-mailform {
/*     margin-top: 13px; */
/*     margin-bottom: 38px; */
}


/* 댓글 list css*/
.ct-div-comment .comment-group {
	border-radius: 9px;
    padding: 20px;
/*     text-align: left; */
/*     font-size: 15px; */
/*     color: #29293a; */
    background: #f2f3f9;
    border: 2px dashed rgba(131, 131, 134, 0.1);
    margin-top: 13px;
    margin-bottom: 25px;
}

/* 닉네임 입력칸 css 조정 */
.ct-div-comment .form-input.txtName{
    display: block;
    width: 100%;
    min-height: 28px;
    padding: 18px 25px;
    font-weight: 300;
    line-height: 13px;
    font-size: 13.5px;
    color: #29293a;
    background-color: #f2f3f9;
    background-image: none;	
    border: 0px solid #f2f3f9;
    border-radius: 15px;
    -webkit-appearance: none;
    height: 25px;
}


/* 댓글 비밀여부 css */
@media (min-width: 992px){
.ct-div-comment .checkbox-inline .checkbox-custom-dummy{
	width: 20px;
    height: 20px;
	}
}

/* 댓글 비밀여부 마진, 패딩 주기  */
@media (min-width: 992px){
	.ct-div-comment .checkbox, .ct-div-comment .checkbox-inline {
	    padding-left: 27px;
	    margin-top: 7px;
	    padding-right: 143px;
	}
}

@media (max-width: 492px){
.ct-div-comment .checkbox, .ct-div-comment .checkbox-inline {
    padding-left: 38px;
    margin-right: 123px;
}
}




/* 이미지 아이콘 그림에 마진 주기 */
.ct-div-comment .form-wrap img:nth-child(1){
    margin-right: 25px;

}

.ct-div-comment .form-wrap .tooltip-custom + .tooltip .tooltip-inner {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	max-width: 253px;
	padding: 5px 12px;
	font-size: 10px;
	font-weight: 300;
	border-radius: 0;
	letter-spacing: .02em;
	background: rgb(0, 200, 202);
}

.ct-div-comment .form-wrap .tooltip-custom + .tooltip.top .tooltip-arrow {
	bottom: -2px;
	margin-left: -7px;
	border-width: 7px 7px 0;
	border-top-color: rgb(0, 200, 202);
}

.ct-div-comment .reply-cate>span:nth-child(1){
	color: red;
}

.ct-div-comment .reply-cate>span:nth-child(3), .ct-div-comment .reply-cate>span:nth-child(5){
	font-size: 14px;
}


/* 댓글 list 아이콘(ˇ) */
.ct-div-comment .reply-cate .glyphicon {
    font-size: 10px;
    top: 0px;
    color: #2e2e2e;
}


/* 댓글 입력칸 css  */
.ct-div-comment .form-input.txtComment {
	display: block;
    width: 100%;
    min-height: 126px;
    max-height: 400px;
    padding: 18px 25px;
    font-weight: 300;
    line-height: 23px;
    font-size: 13.5px;
    color: #29293a;
    background-color: #f2f3f9;
    background-image: none;
    border: 0px solid #f2f3f9;
    border-radius: 15px 0px 0px 15px;
    -webkit-appearance: none;
    cursor: auto;
    overflow: auto;
   
}

/* text 입력칸 height 조정*/
.ct-div-comment  textarea.form-input {
    height: 126px;
    min-height: 89px;
    max-height: 255px;
    resize: vertical;
    border-radius: 15px 0px 0px 15px;
}

/* 댓글 입력창에 추가되는 이미지 크기 지정 */
.ct-div-comment .ct-img>.ct-img-add {
	width: auto;
}


/* 댓글 입력 text area maring 조정*/
@media (min-width: 480px){
.ct-div-comment .cell-sm-10{
	    -webkit-flex-basis: 100%;
	    -ms-flex-preferred-size: 100%;
	     flex-basis: 100%;
	     margin-top: 8px;
	     padding-right: 0px;
	}
}
@media (min-width: 480px){
.ct-div-comment .cell-sm-2 {
	    -webkit-flex-basis: 100%;
	    -ms-flex-preferred-size: 100%;
	     flex-basis: 100%;
	     margin-top: 8px;
	     padding-left: 0px;
	}
}



/* 댓글 입력 버튼 (종상) */
.ct-div-comment .button {
	min-width: 100%;
	height: 100%;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 52px;
    padding-bottom: 52px;
    border-radius: 0px 15px 15px 0px;
}
/* 댓글 입력 버튼 높이 조절 */
.ct-div-comment .form-button {
	height: 100%;
}


/* 대댓글 숨김 처리 (종상) */
.ct-div-comment .ct-none {
	display: none;
}
/* 대댓글 입력창 바탕색 (종상) */
.ct-div-comment .ct-txt-bg-color .range {
	background-color: white;
	padding-bottom: 20px;
}
.ct-div-comment .comment-group .rd-mailform {
/* 	margin-top: 30px; */
	margin-top: 47px;
}


/* # 대댓글 reply닉네임 부분 css */
/* 닉네임 앞에 붙는 아이콘 size 조정 */
.comment-reply::before {
	    padding-right: 2px;
	}
@media (min-width: 768px){
	.comment-reply::before {
	    font-size: 22px;
	    line-height: 24px;
	    padding-right: 2px;
	}
}
/* 닉네임 text-size 조정 */
.ct-div-comment  .comment-reply {
    font-size: 12px;ㄴ
}


/* comment-header안에 수정/삭제 아이콘 margin 조정*/
.ct-div-comment .comment-header .iconTrash{
	    margin-left: 13px;
}





/* 댓글 스티커 선택버튼 */
.ct-div-comment .choose-sticker {
    overflow: visible;
    position: absolute;
    top: 92.8%;
    left: 75%;
    z-index: 100;
    height: 297px;
    width: 268px;
    border: 1px solid #288ce3;
    background-color: white;
}

@media (min-width: 954px){
	.ct-div-comment .choose-sticker {
	    left: 62%;
	    display: none;
	    
	}
}

.ct-div-comment .table-custom td:first-child {
    padding: 5px;
    height: 73.2px;
}

.ct-div-comment .table-custom td {
    border-bottom: 0px solid #ededed;
}

/* 댓글 css END */



/** 다음글/이전글 list css START */
.ct-bottom-list-div{
    margin-top: 15px;
/*     padding: 6px; */
    padding: 2px;
    background-color: white;
    height: auto;
}
/* 다음글/이전글 list margin 설정 */
.ct-bottom-list-div .table-hover {
	margin-bottom: 0;
	font-size: 13px;
}
/* 다음글/이전글 list td에 border 설정 */
.ct-bottom-list-div .table-hover tr > td{
	text-align: center;
	border-bottom: 1px solid #ddd;
}
/* 다음글/이전글 list 짝수번째 td 넓이 설정 */
/* .ct-bottom-list-div .table-hover tr > td:nth-child(2n) { */
/* 	padding-left: 0; */
/* 	padding-right: 0; */
/* 	width: 1%; */
/* } */
/* 다음글/이전글 list 이전글/다음글 td 넓이 설정 */
/* .ct-bottom-list-div .table-hover tr > td:nth-child(1) { */
/* 	width: 10%; */
/* } */
/* 다음글/이전글 list 제목 td 넓이 설정 */
/* .ct-bottom-list-div .table-hover tr > td:nth-child(3) { */
/* 	width: 50%; */
/* 	text-align: left; */
/* } */
/* 다음글/이전글 list 작성자 td 넓이 설정 */
/* .ct-bottom-list-div .table-hover tr > td:nth-child(5) { */
/* 	width: 17%; */
/* } */
/* 다음글/이전글 list 작성일(/하트개수) td 넓이 설정 */
/* .ct-bottom-list-div .table-hover tr > td:nth-child(7) { */
/* 	width: 19%; */
/* } */

/* 다음글/이전글 list 이전글/다음글 td 넓이 설정 */
.ct-bottom-list-div .table-hover tr > td:nth-child(1) {
	width: 10%;
}
/* 다음글/이전글 list 제목 td 넓이 설정 */
.ct-bottom-list-div .table-hover tr > td:nth-child(2) {
	width: 50%;
	text-align: left;
}
/* 다음글/이전글 list | td 넓이 설정 */
.ct-bottom-list-div .table-hover tr > td:nth-child(3), .ct-bottom-list-div .table-hover tr > td:nth-child(5) {
	width: 1%;
}
/* 다음글/이전글 list 작성자 td 넓이 설정 */
.ct-bottom-list-div .table-hover tr > td:nth-child(4) {
	width: 17%;
}
/* 다음글/이전글 list 작성일(/하트개수) td 넓이 설정 */
.ct-bottom-list-div .table-hover tr > td:nth-child(6) {
	width: 19%;
}

/* .ct-bottm-list-div-inline { */
/*     padding-top: 11px; */
/*     padding-bottom: 85px; */
/*     border: solid rgb(234, 234, 234); */
/* } */


/* 다음글/이전글 list css END */








