@charset "UTF-8";


/* ## 마이페이지 타이틀 div */
.my-title{
	margin-top: 12px;
/* 	border: solid; */
	background-color: white;
	padding-bottom: 10px;
    padding-top: 10px;
}


/* 마이페이지 상단 제목 col-md padding 조정 */
.my-title .row .col-md-6{
	padding-left: 4%; 
	margin-bottom: 2%;
}

/*마이페이지 상단 제목 내 명언 text 글자 크기 조정*/
.my-title .row .col-md-10 .sub-text{
	font-size: 14px;
}
.my-title .row .col-md-10 .sub-text-small{
	
	font-size: 10px
}

/* 마이페이지 타이틀 div END*/


/* ## 마이페이지 list div START */

/* 블록 형식의 list div */
.my-list-block{
    padding-top: 25px;
    margin-top: 15px;
    padding-bottom: 30px;
/*     padding-left: 9px; */
/*     padding-right: 14px; */

    padding-left: 13px;
    padding-right: 21px;
    
    background-color: white;
    min-height: 200px;
}

/* 마이페이지 nav-tab 글자크기 조정 */
@media (min-width: 992px){
	.my-list-block .tabs-custom.tabs-line:not(.tabs-line-small) .nav-tabs > li > a {
	    font-size: 19px;
	    text-align: left;
/* 	    line-height: 1.3; */
	}
}


/* # tab pane_1 : 내 정보 css START*/

/* dropBox height 및 글자위치 조정 */
.my-list-block .select2-container--bootstrap .select2-selection--single{
	text-align: left;
    height: 29px;
    line-height: 29px;
    padding: 0 44px 0 24px;
}

/* 	dropBox border, font-size 조정 */
.my-list-block .select2-selection{
/*     background-color: #f2f3f9; */
/*     border: 1px solid #f2f3f9; */
    border-radius: 5px;
/*     color: #29293a; */
    font-size: 13px;
/*     font-weight: 300; */
/*     line-height: 24px; */
/*     outline: 0;	 */
}

/* dropBox select div board-radius 조정 */


/* dropBox_select div height 조정*/
.select2-container--bootstrap .select2-results > .select2-results__options{
    max-height: 310px;	
}

.select2-dropdown{
	border-radius: 7px;
}

/* dropBox_select item 글자크기 조정*/
.select2-results__option{
/* 	padding: 10px 20px; */
    font-size: 13px;
/*     transition: .3s; */
/*     user-select: none; */
/*     color: #29293a; */
/*     -webkit-user-select: none; */
}


/* checkBox div padding 조정 */
@media (min-width: 992px){
	.checkbox-div{
/* 		padding-left: 37px; */
		padding-left: 18px;
	}
}

/* checkBox 크기 조정 */
@media (min-width: 992px){
	.my-list-block .checkbox-inline .checkbox-custom-dummy{
	    width: 15px;
	    height: 14px;
	    margin-top: 3px;	
	}
}

/* checkBox 와 글자(lebel) 간격 조정 */
@media (min-width: 992px){
	.my-list-block .checkbox-inline{
		padding-left: 19px;
		font-size: 13px;
	}
}


/* ## 마이페이지_my게시물_dropBox select-1 : 심리이론 게시물 list START */

/*select-1 article div (value1) 마진 조정 */
.row.value1{
	margin-right: 61px; 
	margin-left: 27px;
}


/*list article border에 색 넣어주기*/
.value1 .post-blog {
    border: solid #80808024;
}

/* 리스트 article >img 크기 조정 */
.value1 .post-blog .post-blog-image {
   min-height: 0px;
}
.f-section-1  .post-blog .post-blog-image img{
/* min-height: 10px !important; */
	width: 100%;
/*     width: 211px; */
/*     height: 115px; */
	height: 130px;
    object-fit: initial;
}




/* article tag 좌우 padding 수정*/
@media (min-width: 992px){
	.value1 .post-blog-caption-header {
		padding-left: 9px;
	    padding-right:11px;
	    border-top: dotted #80808026;
	}
}
.value1 .post-blog-caption-header .button-tags{
	font: 300 12px/1 "Lato", Helvetica, Arial, sans-serif;
	padding: 4px 8px;
	letter-spacing: .02em;
}


/* article header에 게시글 no. 글자크기 수정 */
.value1 .post-blog-caption-header .post-comment{
	font-size: 11px;
}	

/* article title 좌우 padding 수정*/
@media (min-width: 992px){
	.value1 .post-blog-caption-body{
		padding-left: 14px;
	    padding-right: 14px;
	    text-align: left;
	}
}

/* article title 위 아래 padding 수정*/
.value1  .post-blog-caption-body {
    padding-top: 6px;
    padding-bottom: 12px;
}




/* article footer font-size 수정*/
@media (min-width: 992px){
	.value1 .post-blog-caption-footer{
		font-size: 10px;
		padding-left: 14px;
	    padding-right: 14px;
	    padding-top: 5px;
    	padding-bottom: 5px;
    	border-top: 1px solid #f2f3f9;
	}
}


/* article footer icon size 수정 */
.value1 .glyphicon-heart {
    font-size: 12px;
    color: red;
}

/* 마이페이지_dropBox select-1 : 심리이론 게시물 list END */




/* ## 마이페이지_my게시물_dropBox select-2 : 심리이론>지식나눔방>묻고답하기 게시물 list START */

/* select-2 article div (value2) 마진 조정  */
.row.value2{
	margin-right: 61px; 
	margin-left: 27px;
	margin-top: 4%;
}

/* .row.value2{ */
/* 	padding-right: 26px; */
/*     padding-top: 1px; */
/*     padding-left: 26px; */
/*     background-color: #f2f3f9; */
/*     margin-right: 22px; */
/*     margin-left: 2px; */
/*     margin-top: 19px; */
/* } */




/*td 안 row에 패딩주기 */
.td-row{
	padding: 6px 22px 0px 22px;
	padding-top: 0px;
}

/*td - border 적용 */
.table-list .table > tbody > tr > td{
/* 	padding: 8px; */
/*     line-height: 1.42857; */
/*     vertical-align: top; */
    border-bottom: 1px dashed #ddd;
    border-top: 1px dashed #ddd;
}

/*리스트 내 checkBox 들어가는 공간(col-md-1) 패딩 및 width 조정*/
.td-row .col-md-1:first-child {
    padding-left: 0px;
    padding-right: 0px;
    width: 4.5%;	
}

.td-row .col-md-10{
	padding-left: 0px;
	width: 95.5%;
}

/* 리스트 상단 제목에 css 주기*/
.td-row .col-md-10 span{
	font-size: 14.5px;
	color: black;
}

/* 리스트 중간 내용에 css 주기*/
.td-row .col-md-10 p {
	margin: 0;
	font-size: 12px;
	margin-top: 1%;
	
}

.td-row .col-md-10 .glyphicon{
	font-size: 11px;
    float: right;
    line-height: 24px;
    color: #0000004f;
}

    
    

/*td 안 row에 패딩주기 */
.td-row2{
	padding: 0px 22px 5px 22px;
}
.td-row2 .col-md-1:first-child {
    padding-left: 0px;
    padding-right: 0px;
    width: 4.5%;	
}

/* 리스트 하단 부가정보에 css 주기*/
.td-row2 .col-md-11 {
	font-size: 11px;
	margin-top: 1%;
	padding-left: 0px;
	width: 95.5%;
}


/* # 마이페이지_dropBox select-3 : 커뮤니티  list START */
/* select-3 article div (value3) 마진 조정  */
.row.value3{
	margin-right: 61px; 
	margin-left: 27px;
	margin-top: 4%;
}


/**/
@media (min-width: 992px){
.row.value3 .myComuunityList-Img{
	    padding-right: 0px;
    	padding-left: 0px;
	}
}


.row.value3 .myComuunityList-col-md-10{
	padding-left: 0px;
    width: 84.5%;
    padding-right: 4px;
}
/*  마이페이지_dropBox select-3 : 커뮤니티  list END */


/* # 마이페이지_dropBox select-4 : 상담홍보  list START */

/*select-1 article div (value1) 마진 조정 */
.row.value4{
	margin-right: 61px; 
	margin-left: 27px;
}


/*list article border에 색 넣어주기*/
.value1 .post-blog {
    border: solid #80808024;
}

/* 리스트 article >img 크기 조정 */
.value4 .post-blog .post-blog-image {
   min-height: 0px;
}
.f-section-1  .post-blog .post-blog-image img{
/* min-height: 10px !important; */
	width: 100%;
/*     width: 211px; */
/*     height: 115px; */
	height: 130px;
    object-fit: initial;
}




/* article tag 좌우 padding 수정*/
@media (min-width: 992px){
	.value4 .post-blog-caption-header {
		padding-left: 9px;
	    padding-right:11px;
	    border-top: dotted #80808026;
	}
}
.value4 .post-blog-caption-header .button-tags{
	font: 300 12px/1 "Lato", Helvetica, Arial, sans-serif;
	padding: 4px 8px;
	letter-spacing: .02em;
}


/* article header에 게시글 no. 글자크기 수정 */
.value4 .post-blog-caption-header .post-comment{
	font-size: 11px;
}	

/* article title 좌우 padding 수정*/
@media (min-width: 992px){
	.value4 .post-blog-caption-body{
		padding-left: 14px;
	    padding-right: 14px;
	    text-align: left;
	}
}

/* article title 위 아래 padding 수정*/
.value4  .post-blog-caption-body {
    padding-top: 6px;
    padding-bottom: 12px;
}




/* article footer font-size 수정*/
@media (min-width: 992px){
	.value4 .post-blog-caption-footer{
		font-size: 10px;
		padding-left: 14px;
	    padding-right: 14px;
	    padding-top: 5px;
    	padding-bottom: 5px;
    	border-top: 1px solid #f2f3f9;
	}
}


/* article footer icon size 수정 */
.value4 .glyphicon-heart {
    font-size: 12px;
    color: red;
}

/* 마이페이지_dropBox select-4 : 상담홍보 list END */


/* # 마이페이지_dropBox select-5 : 상담후기  list START */
/* select-5 article div (value5) 마진 조정  */
.row.value5{
	margin-right: 61px; 
	margin-left: 27px;
	margin-top: 4%;
}


/**/
.glyphicon-map-marker{
	font-size: 9px;
}


.row.value5 .myInfoReviewList-col-md-10{
	padding-left: 0px;
    width: 84.5%;
    padding-right: 4px;
}

@media (min-width: 992px){
.row.value5 .myInfoReviewList-Img{
	    padding-right: 0px;
    	padding-left: 0px;
	}
}
/*  마이페이지_dropBox select-5 : 상담후기list  list END */


/* # 마이페이지_dropBox select-6 : 관리자에게  list START */
/* select-6 article div (value5) 마진 조정  */
.row.value6{
	margin-right: 61px; 
	margin-left: 27px;
/* 	margin-top: 2%; */
}


.value6 .mdi-email-outline {
/* 	font-size: 44px; */
/* 	line-height: 0.77; */
 font-size: 32px;
    line-height: 1.5;
}

.value6 .box-info-title {
    margin-top: 11px;
    font-size: 17px;
}


.value6 .box-info p{
	font-size: 13px;
}

.value6 .box-info-name {
	padding-bottom: 10px;
}

.value6 .box-info-name  p{
	    font-size: 12px;
}

.value6 .box-info-footer{
	padding-left: 5px;
    padding-right: 5px;
}

.value6 .box-info-footer .mdi{
	font-size: 13px;
	color: #a9a9a9;
/*     padding-right: 0px; */
}
/* # 마이페이지_dropBox select-6 : 관리자에게  list END */

/* tab pane_2 : my게시물 css END*/




/*################ tab pane_3 : my댓글 css START*/

/*my댓글 div*/
.my-comment-div{
	margin-right: 61px;  
	margin-left: 27px; 
	margin-top: 4%;
}

/* myCommentList.jsp파일 내에 comment div css */
.comment-inner-div{
	border-top: dashed 1px; 
	border-bottom: dashed 1px; 
	padding: 8px 0px 12px 0px;
}

/* checkBox 위치 조정 */
.comment-avatar{
	line-height: 0.8;
}

/* 댓글 padding 주기 */
.comment-body{
	padding-left: 15px;
}

/* 댓글 title font-size 조정 */
.comment-title{
	font-size: 14px;
}

/* 댓글 날짜 font-size 조정 */
.comment-time{
	font-size: 12px;
}

/* 날짜 표시란 안에 시간효시 font-size 조정 */
.comment-time span:first-child{
	font-size: 11px;
}

/* 댓글 대상자 가르키는 font-size 조정 */
.comment-reply{
	font-size: 13px;
}

/* 삭제버튼 icon 위치 조정 */
.comment-body .col-md-1{
	padding-top: 7px;
}

/* 댓글 내용 text-size 및 css 조정 */
.comment-text{
	font-size: 15px; 
	margin-top: 0px;
}

/**/


/* # tab pane_2 : my댓글 css END*/




/*################ tab pane_4 : my답변 css START*/

/* # tab pane_4 : my답변 css END*/




/*################ tab pane_5 : 나의 보관홤 css START*/


/* my-favorite */
.my-favorite{
	margin-right: 61px; 
	margin-left: 27px;
	margin-top: 61px;
	margin-bottom: 64px;
}

@media (min-width: 768px){
.my-favorite .circle-tile {
    margin-bottom: 30px;
}
}

.my-favorite .circle-tile {
    margin-bottom: 15px;
    text-align: center;
}

.my-favorite .circle-tile-heading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 100%;
    color: #fff;
    transition: all ease-in-out .3s;
}

.my-favorite .dark-blue {
    background-color: #34495e;
}

.my-favorite .dark-blue .mdi-star{
	color: yellow;
}

.my-favorite .green {
/*     background-color: #16a085; */
	background-color: rgb(6, 190, 201);
}

.my-favorite .green .mdi-bookmark{
	color: yellow;
}


.my-favorite .circle-tile-heading .icon {
/*     line-height: 80px; */
        font-size: 55px;
    line-height: 1.4;
}

.my-favorite .circle-tile-content {
    padding-top: 50px;
}
.my-favorite .circle-tile-description {
    text-transform: uppercase;
}

.my-favorite .text-faded {
/*     color: rgba(255,255,255,0.7);*/
	color: rgb(255, 255, 255);
	font-size: 41px;
}


.my-favorite .circle-tile-number {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.my-favorite .circle-tile-footer {
    display: block;
/*     padding: 5px; */
	padding: 13px;
/*     color: rgba(255,255,255,0.5); */
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
}


.my-favorite .circle-tile-footer:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.2);
}



/* ## my보관함 > 1.북마크 css START */
/* 없음. 게시물 css와 동일*/
/* my보관함 > 1.북마크 css END */


/* ## my보관함 > 2.즐겨찾기 css START */


/* my보관함 > 2.즐겨찾기 css END */



/* # tab pane_5 : 나의 보관홤 css END*/







/* 마이페이지 list div END */

.mdi-delete{
font-size: 15px;}







/** ************************************************* tab 5 : 나의 보관함 */



/*************************************************************프로필**/


.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 30px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
/*     background: url("http://lorempixel.com/850/280/nature/4/"); */
    background-size: cover;
/*     height: 135px; */
	height: 95px;
	background-color: #00c8ca;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -40px;
}

.card.hovercard .avatar img {
    width: 125px;
    height: 125px;
    max-width: 85px;
    max-height: 87px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
/*     border: 5px solid rgba(255,255,255,0.5); */
	border: 5px solid rgb(247, 249, 249);
    
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}








