@charset "UTF-8";


/* ## 마이페이지 타이틀 div */
.my-title{
	margin-top: 12px;
/* 	border: solid; */
	background-color: white;
	padding-bottom: 10px;
    padding-top: 10px;
}


/* 마이페이지 상단 제목 col-md padding 조정 */
.my-title .row .col-md-6{
	padding-left: 4%; 
	margin-bottom: 2%;
}

/*마이페이지 상단 제목 내 명언 text 글자 크기 조정*/
.my-title .row .col-md-10 .sub-text{
	font-size: 14px;
}
.my-title .row .col-md-10 .sub-text-small{
	
	font-size: 10px
}

/* 마이페이지 타이틀 div END*/


/* ## 마이페이지 list div START */

/* 블록 형식의 list div */
.my-list-block{
    padding-top: 25px;
    margin-top: 15px;
    padding-bottom: 30px;
/*     padding-left: 9px; */
/*     padding-right: 14px; */

    padding-left: 13px;
    padding-right: 21px;
    
    background-color: white;
    min-height: 200px;
}

/* 마이페이지 nav-tab 글자크기 조정 */
@media (min-width: 992px){
	.my-list-block .tabs-custom.tabs-line:not(.tabs-line-small) .nav-tabs > li > a {
	    font-size: 19px;
	    text-align: left;
/* 	    line-height: 1.3; */
	}
}


/* # tab pane_1 : 내 정보 css START*/

/* dropBox height 및 글자위치 조정 */
.my-list-block .select2-container--bootstrap .select2-selection--single{
	text-align: left;
    height: 33px;
    line-height: 32px;
    padding: 0 44px 0 24px;
}

/* 	dropBox border, font-size 조정 */
.my-list-block .select2-selection{
/*     background-color: #f2f3f9; */
/*     border: 1px solid #f2f3f9; */
    border-radius: 5px;
/*     color: #29293a; */
    font-size: 17px;
/*     font-weight: 300; */
/*     line-height: 24px; */
/*     outline: 0;	 */
}

/* dropBox select div board-radius 조정 */








/* tab pane_1 : 내 정보 css END*/

/* 마이페이지 list div END */
