@charset "UTF-8";

/* onePage 전체 div css */
.one-page-div {
	background-color: white;
	padding: 15px;
/* 	height: 500px; */
	margin-top: 15px;
}



/* 타이틀 앞 circle img div*/
.circle-tile-heading-img {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #FFFFFF;
    height: 40px;
/*     margin: 0 auto -40px; */
    position: relative;
/*     transition: all 0.3s ease-in-out 0s; */
    width: 40px;
    background-color: yellow;
    padding-left: 1px;	
    line-height: 35px;
}



@media (min-width: 992px){
	.head-title .col-md-1{
		padding-right: 0px;
	}
	
	.head-title .col-md-9{
		padding-left: 0px;
	}
	
	.head-title .col-md-2{
		padding-top: 11px;
    	padding-left: 40px;
	}
}

/* title text */
.head-title .col-md-9{
	font-size: 20px;
    padding-top: 6.5px;
}
.head-title .col-md-9 span{
	font-size: 14px;
}
.head-title .col-md-2 p{
	font-size: 14px;
}



/* onePage > 기초심리학 lsit(theory-basic-list)*/
.theory-basic-area{
/* 	border: solid; */
}

/* 블록 형식의 list div */
.theory-basic-list{
/*     padding-top: 25px; */
    margin-top: 15px;
    padding-bottom: 30px;
    padding-left: 27px;
    padding-right: 14px;
    background-color: white;
    /* border: solid red; */
}
/*img animation 죽이기*/
.theory-basic-list .gallery-item img {
    position: inherit;
    left: 0%;
    transform: none;
}

/*list article border에 색 넣어주기*/
.theory-basic-list .post-blog {
    border: solid #80808024;
}

/* 리스트 article >img 크기 조정 */
.theory-basic-list .post-blog .post-blog-image {
   min-height: 0px;
}
.f-section-1  .post-blog .post-blog-image img{
/* min-height: 10px !important; */
/* 	width: 100%; */
    width: 211px;
/*     height: 115px; */
	height: 130px;
    object-fit: initial;
}


/* article tag 좌우 padding 수정*/
@media (min-width: 992px){
	.theory-basic-list .post-blog-caption-header {
		padding-left: 9px;
	    padding-right:11px;
	    border-top: dotted #80808026;
	}
}
.theory-basic-list .post-blog-caption-header .button-tags{
	font: 300 12px/1 "Lato", Helvetica, Arial, sans-serif;
	padding: 4px 8px;
	letter-spacing: .02em;
}




/* article header에 게시글 no. 글자크기 수정 */
.theory-basic-list .post-blog-caption-header .post-comment{
	font-size: 11px;
}	

/* article title 좌우 padding 수정*/
@media (min-width: 992px){
	.theory-basic-list .post-blog-caption-body{
		padding-left: 14px;
	    padding-right: 14px;
	    text-align: left;
	}
}

/* article title 위 아래 padding 수정*/
.theory-basic-list  .post-blog-caption-body {
    padding-top: 6px;
    padding-bottom: 12px;
}




/* article footer font-size 수정*/
@media (min-width: 992px){
	.theory-basic-list .post-blog-caption-footer{
		font-size: 10px;
		padding-left: 14px;
	    padding-right: 14px;
	    padding-top: 5px;
    	padding-bottom: 5px;
    	border-top: 1px solid #f2f3f9;
	}
}


/* article footer icon size 수정 */
.theory-basic-list .glyphicon-heart {
    font-size: 12px;
    color: red;
}



/* onePage > (임시)행동심리학 lsit(theory-basic-list)*/
.theory-basic-area2{
/* 	border: solid; */
	margin-top: 35px;
}


/* onePage > (임시)심리학지식 lsit(theory-basic-list)*/
.theory-basic-area3{
/* 	border: solid; */
	margin-top: 35px;
}




/************ 묻고답하기 게시판 List CSS START **********************/
/* onePage > 심리이론 > 묻고답하기  lsit(theory-qna-list)*/
.theory-qna-area{
/* 	border: solid; */
	margin-top: 35px;
}



/* 커뮤니티 게시판 list div */
.th-qna-list, .cd-xs-list{
/*     padding-top: 20px; */
/*     margin-top: 15px; */
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    /* border: solid red; */
}
/* 커뮤니티 게시판 list padding-bottom 부분 조정 */
.th-qna-list {
	padding-bottom: 0;
}
/* 큰 화면일때 모바일 화면 기준 커뮤니티 게시판 목록 숨김 처리 */
.cd-xs-list {
	display: none;
}
/* ## 모바일 화면 기준 커뮤니티 게시판 css START */
@media(max-width: 768px){
	/* 큰 화면 기준 커뮤니티 게시판 목록 숨김 처리 */
	.th-qna-list {
	    display: none;
	}
	/* 모바일 화면 기준 커뮤니티 게시판 목록 보임 처리 */
	.cd-xs-list {
		display: block;
		padding-bottom: 15px;
	}
	/* 커뮤니티 게시판 목록 중 댓글 개수 버튼 위치 조정 */
	.cd-xs-list .col-xs-2 {
		margin-top: 3%;
	}
	/* 커뮤니티 게시판 목록 중 댓글 개수 버튼 크기 조정 */
	.cd-xs-list .cd-xs-count-btn {
		padding: 1px 6px 2px 7px;
	}
	/* 모바일 화면 글쓰기 버튼 위치 및 크기지정 */
	.cd-xs-list .cd-xs-write {
		float: right;
		padding: auto 15px;
	}
}
/* 모바일 화면 기준 커뮤니티 게시판 css END */



/* table 상단 선 */
.th-qna-list .table-list .isotope {
	border-top: 2px solid #ddd;
}


/* 리스트 테두리 선 */
.th-qna-list .table-list .table > tbody > tr > td{
	padding: 20px 8px 22px 9px;
    line-height: 1.42857;
    vertical-align: top;
    border-bottom: 1px dashed #ddd;
    border-top: 0;
}

.th-qna-list .row {
	margin-bottom: 0;
}
.th-qna-list [data-isotope-layout] .row > [class*="col-"] {
	margin-top: 0;
}

/* 리스트 상단 제목에 css 주기*/
.th-qna-list-row .th-qna-list-contents span{
	font-size: 13px;
/* 	font-size: 17px; */
	color: black;
}
.th-qna-list-row .th-qna-list-contents span strong{
	font-size: 15px;
	color: black;
}

/* 리스트 중간 내용에 css 주기*/
.th-qna-list-row .th-qna-list-contents p {
	margin: 0;
/* 	font-size: 12px; */
	font-size: 13.5px;
	margin-top: 2%;
	color:#000000;
	
}
.th-qna-list-row .th-qna-list-contents .glyphicon{
	font-size: 11px;
    float: right;
    line-height: 24px;
    color: #0000004f;
}


.th-qna-list-row2{
	margin-top: 2%;
}

/* 리스트 하단 부가정보에 css 주기*/
.th-qna-list-row2 .th-qna-list-profile {
	font-size: 11px;
	margin-top: 1%;
}

/* 리스트 하단 부가정보 span 사이에 패딩 주기*/
.th-qna-list-row2 .th-qna-list-profile span{
	margin-right: 2px;
	margin-left: 2px;
}


/**/
.glyphicon-heart{
/* 	font-size: 9px; */
}



/* list 좌측 대표 이미지 col-md-2 공간  css */
.th-qna-list-img{
	padding-left: 0px;
	padding-top: 7px;
}
/* list 좌측 대표 이미지 윤곽선 주기 */
.th-qna-list-img img{
/* 	border:  solid 0.6px; */
	min-width: 100%;
	height: 87px;
}




/* 묻고답하기list  list END */





/************ 커뮤니티 게시판 List CSS START **********************/
/* onePage > 커뮤니티 lsit(cd-list)*/
.community-area{
/* 	border: solid; */
	margin-top: 35px;
}



/* 커뮤니티 게시판 list div */
.cd-list, .cd-xs-list{
/*     padding-top: 20px; */
/*     margin-top: 15px; */
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    /* border: solid red; */
}
/* 커뮤니티 게시판 list padding-bottom 부분 조정 */
.cd-list {
	padding-bottom: 0;
}
/* 큰 화면일때 모바일 화면 기준 커뮤니티 게시판 목록 숨김 처리 */
.cd-xs-list {
	display: none;
}
/* ## 모바일 화면 기준 커뮤니티 게시판 css START */
@media(max-width: 768px){
	/* 큰 화면 기준 커뮤니티 게시판 목록 숨김 처리 */
	.cd-list {
	    display: none;
	}
	/* 모바일 화면 기준 커뮤니티 게시판 목록 보임 처리 */
	.cd-xs-list {
		display: block;
		padding-bottom: 15px;
	}
	/* 커뮤니티 게시판 목록 중 댓글 개수 버튼 위치 조정 */
	.cd-xs-list .col-xs-2 {
		margin-top: 3%;
	}
	/* 커뮤니티 게시판 목록 중 댓글 개수 버튼 크기 조정 */
	.cd-xs-list .cd-xs-count-btn {
		padding: 1px 6px 2px 7px;
	}
	/* 모바일 화면 글쓰기 버튼 위치 및 크기지정 */
	.cd-xs-list .cd-xs-write {
		float: right;
		padding: auto 15px;
	}
}
/* 모바일 화면 기준 커뮤니티 게시판 css END */



/* table 상단 선 */
.cd-list .table-list .isotope {
	border-top: 2px solid #ddd;
}


/* 리스트 테두리 선 */
.cd-list .table-list .table > tbody > tr > td{
	padding: 20px 8px 22px 9px;
    line-height: 1.42857;
    vertical-align: top;
    border-bottom: 1px dashed #ddd;
    border-top: 0;
}

.cd-list .row {
	margin-bottom: 0;
}
.cd-list [data-isotope-layout] .row > [class*="col-"] {
	margin-top: 0;
}

/* 리스트 상단 제목에 css 주기*/
.cd-list-row .cd-list-contents span{
	font-size: 13px;
/* 	font-size: 17px; */
	color: black;
}
.cd-list-row .cd-list-contents span strong{
	font-size: 15px;
	color: black;
}

/* 리스트 중간 내용에 css 주기*/
.cd-list-row .cd-list-contents p {
	margin: 0;
/* 	font-size: 12px; */
	font-size: 13.5px;
	margin-top: 2%;
	color:#000000;
	
}
.cd-list-row .cd-list-contents .glyphicon{
	font-size: 11px;
    float: right;
    line-height: 24px;
    color: #0000004f;
}


.cd-list-row2{
	margin-top: 2%;
}

/* 리스트 하단 부가정보에 css 주기*/
.cd-list-row2 .cd-list-profile {
	font-size: 11px;
	margin-top: 1%;
}

/* 리스트 하단 부가정보 span 사이에 패딩 주기*/
.cd-list-row2 .cd-list-profile span{
	margin-right: 2px;
	margin-left: 2px;
}


/**/
.glyphicon-heart{
/* 	font-size: 9px; */
}



/* list 좌측 대표 이미지 col-md-2 공간  css */
.cd-list-img{
	padding-left: 0px;
	padding-top: 7px;
}
/* list 좌측 대표 이미지 윤곽선 주기 */
.cd-list-img img{
/* 	border:  solid 0.6px; */
	min-width: 100%;
	height: 87px;
}




/* 묻고답하기list  list END */




/* onePage > 정보방 > 상담사 홍보 lsit(infoad-area)*/
.infoad-area{
/* 	border: solid; */
}

/* 블록 형식의 list div */
.infoad-list{
/*     padding-top: 25px; */
    margin-top: 15px;
    padding-bottom: 30px;
    padding-left: 27px;
    padding-right: 14px;
    background-color: white;
    /* border: solid red; */
}
/*img animation 죽이기*/
.infoad-list .gallery-item img {
    position: inherit;
    left: 0%;
    transform: none;
}

/*list article border에 색 넣어주기*/
.infoad-list .post-blog {
    border: solid #80808024;
}

/* 리스트 article >img 크기 조정 */
.infoad-list .post-blog .post-blog-image {
   min-height: 0px;
}
.f-section-1  .post-blog .post-blog-image img{
/* min-height: 10px !important; */
/* 	width: 100%; */
    width: 211px;
/*     height: 115px; */
	height: 130px;
    object-fit: initial;
}


/* article tag 좌우 padding 수정*/
@media (min-width: 992px){
	.infoad-list .post-blog-caption-header {
		padding-left: 9px;
	    padding-right:11px;
	    border-top: dotted #80808026;
	}
}
.infoad-list .post-blog-caption-header .button-tags{
	font: 300 12px/1 "Lato", Helvetica, Arial, sans-serif;
	padding: 4px 8px;
	letter-spacing: .02em;
}




/* article header에 게시글 no. 글자크기 수정 */
.infoad-list .post-blog-caption-header .post-comment{
	font-size: 11px;
}	

/* article title 좌우 padding 수정*/
@media (min-width: 992px){
	.infoad-list .post-blog-caption-body{
		padding-left: 14px;
	    padding-right: 14px;
	    text-align: left;
	}
}

/* article title 위 아래 padding 수정*/
.infoad-list  .post-blog-caption-body {
    padding-top: 6px;
    padding-bottom: 12px;
}




/* article footer font-size 수정*/
@media (min-width: 992px){
	.infoad-list .post-blog-caption-footer{
		font-size: 10px;
		padding-left: 14px;
	    padding-right: 14px;
	    padding-top: 5px;
    	padding-bottom: 5px;
    	border-top: 1px solid #f2f3f9;
	}
}


/* article footer icon size 수정 */
.infoad-list .glyphicon-heart {
    font-size: 12px;
    color: red;
}















